@page
@model TicTacToeModel
@{
    ViewData["Title"] = "Game";
}

<h1>Tic-Tac-Toe</h1>

<form method="post">
    <table border="2">
        <tr>
    		<td><button type="submit" name="cell" value="0" ><img src="@Model.GetImage(0,0)" alt="@Model.Game.GetMark(0,0)" ></button></td>
    		<td><button type="submit" name="cell" value="1" ><img src="@Model.GetImage(0,1)" alt="@Model.Game.GetMark(0,1)" ></button></td>
    	    <td><button type="submit" name="cell" value="2" ><img src="@Model.GetImage(0,2)" alt="@Model.Game.GetMark(0,2)" ></button></td>
    	</tr>
        <tr>
        	<td><button type="submit" name="cell" value="3" ><img src="@Model.GetImage(1,0)" alt="@Model.Game.GetMark(1,0)" ></button></td>
        	<td><button type="submit" name="cell" value="4" ><img src="@Model.GetImage(1,1)" alt="@Model.Game.GetMark(1,1)" ></button></td>
        	<td><button type="submit" name="cell" value="5" ><img src="@Model.GetImage(1,2)" alt="@Model.Game.GetMark(1,2)" ></button></td>
    	</tr>
        <tr>
        	<td><button type="submit" name="cell" value="6" ><img src="@Model.GetImage(2,0)" alt="@Model.Game.GetMark(2,0)" ></button></td>
        	<td><button type="submit" name="cell" value="7" ><img src="@Model.GetImage(2,1)" alt="@Model.Game.GetMark(2,1)" ></button></td>
        	<td><button type="submit" name="cell" value="8" ><img src="@Model.GetImage(2,2)" alt="@Model.Game.GetMark(2,2)" ></button></td>
    	</tr>
    </table>
</form>

<p>@Model.GetWinner()</p>
<a href="Index">Start a new game</a>
